*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 100px;
}

.container{
    max-width: 1630px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-color: #f0f0f0;
    height: 80px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    margin-top: 15px;
}

.header__logo img{
    height: 50px;
}

.header__menu{
    margin-top: 28px;
}

.header__menu a{
    text-decoration: none;
    color: #1CB0E7;
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
}

.header__menu-drop{
    color:#f15923;
    font-size: 20px;
    margin-left: 5px;
}

.header__contact{
    color:#1CB0E7;
}

.header__contact a{
    text-decoration: none;
    color:#1CB0E7;
}

.header__contact-wrapper{
    margin-top: 20px;
    margin-bottom: 5px;
}

.header__contact-drop{
    color: #f15923;
    font-size: 20px;
}

.header__contact-icon{
    color: #787878;
    font-size: 14px;
    margin-right: 5px;
}

.header__menu-lang{
    color: #787878;
    margin-top: 31px;
}

.header__menu-lang i{
    font-size: 10px;
    margin-left: 5px;
}

.header__menu-button{
    margin-top: 32px;
}

.header__menu-btn{
    color: #fff;
    background-color: #f15923;
    padding: 15px 15px;
    border-radius: 23px;
    text-decoration: none;
    font-weight: 600;
}